<a href="https://naomi-fridman.medium.com/install-pyspark-to-run-on-jupyter-notebook-on-windows-4ec2009de21f">Install Pyspark with Jupyter notebook</a>

# Apache Spark

In [ ]:
Open-source distributed quering and processing engine. 100X

In [ ]:
read, transform, train, deploy statistical models

In [ ]:
Spark APIs - Java, Python, Scala, R, SQL

In [ ]:
MLlib, GraphX - Graph processing, Streaming

## Resilient Distributed Dataset

In [ ]:
RDD

In [ ]:
JVM - Java Virtual Machine, 
Apache Spark is distributed collection of immutable JVM objects.

In [ ]:
map()
reduce()
filter()

## Dataframes

In [ ]:
they are immutable collection of data,
distributed on nodes in a cluster.

In [ ]:
Data Engineer

In [ ]:
ETL  -  Extract Trasform Load

In [ ]:
Resilient Distributed Dataset

RDDs

- Backbone Apache Spark
- Parallel

In [ ]:
data = sc.parallelize([1,2, ('Raj', 15), 23])

In [ ]:
data = sc.parallelize([
    {'name': 'Tanmay'},
    {'Car': 'Porshe'}
]).collect()              #

In [ ]:
data = data.map(lambda r: int(r[16]))

In [ ]:
data_filter = data.filter(lambda r: r[16] =='2014')
data_filter.count()

In [ ]:
Actions

In [ ]:
take()

In [ ]:
collect()

In [ ]:
reduce()

rdd.map(lambda r: r[1]).reduce(lambda x,y: x + y)

### dataframes

In [ ]:
x = {
    'name': 'Akash',
    'age': 21
}
y = {
    'name': 'Akash',
    'age': 21,
    'color': 'red'
}

In [ ]:
jsonRDD = sc.parallelize(("""
    { "id":"123",
      "name": 'Ravi',
      "age": 19
    }""",
    """
    { "id":"123",
      "name": 'Ravi',
      "age": 19
    }""")
)

In [ ]:
s = spark.read.json(jsonRDD)  # create the dataframe

In [ ]:
s.createOrReplaceTempView("s")

In [ ]:
s.show()

In [ ]:
# SQL queries


spark.sql("select * from s").collect()

#databricks

In [ ]:
s.printSchema()

# age: long 
# id: string

In [ ]:
from pyspark.sql.types import *

In [ ]:
jsonRDD = sc.parallelize(("""
    { "id":"123",
      "name": 'Ravi',
      "age": 19
    }""",
    """
    { "id":"123",
      "name": 'Ravi',
      "age": 19
    }""")
)

schema = StructType([
    StructField("id", LongType(), True),
    StructField("name", StringType(), True),
    StructField("age", LongType(), True)
])


s = spark.createDataFrame(jsonRDD, schema)

s.printSchema()

In [ ]:
s.count() # 2

In [ ]:
s.select("id", "age").filter("age = 23").show()

## prepare DataFrame

In [ ]:
df = spark.createDataFrame([
    (1,5.9, 21, 'M'),
    (2,5.9, 21, 'M'),
    (3,5.9, 21, 'M'),
    (4,5.9, 21, 'M')
], ['id', 'height', 'age','gender'])

In [ ]:
df.count()

In [ ]:
df.distinct().count()

In [ ]:
df = df.dropDuplicates()

In [ ]:
df.where('id' == 3).show()

In [ ]:
df.describe()
df.show()